
GymRutines/GymRutines.xcodeproj/project.xcworkspace/xcuserdata/antoniojesus.cazalla.xcuserdatad/

GymRutines/.DS_Store

GymRutines/GymRutines.xcodeproj/project.xcworkspace/xcuserdata/antoniocazalla.xcuserdatad/UserInterfaceState.xcuserstate
